html {
  font-size: 10px;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  text-align: center;
  margin: 0;
}
h1 {
/*   font-size: 5rem; */
  margin-top: 0rem;
  margin-bottom: -1rem;
}
#main {
  padding: 10px;
  background: lightgray;
}
img {
  max-width: 100%;
  display: block;
  width: 80rem;
  height: auto;
  margin: 0 auto;
}
#img-caption {
  font-style: italic;
  margin-top: 10px;
}
ul {
  max-width: 550px;
  margin: auto;
  text-align: left;
}

li {
  margin: 18px;
}